<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:include="include :: header('修改店铺')" />
</head>

<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-shop-edit" th:object="${shop}">
			<input name="shopId" type="hidden" th:field="*{shopId}" />
			<div class="form-group">
				<label class="col-sm-3 control-label">店铺编号:</label>
				<div class="col-sm-8">
					<span style="position: absolute;padding-top:6px;" th:text="*{shopId}"></span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">店铺名称:</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="shopName" th:field="*{shopName}" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">店铺说明:</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="description" th:field="*{description}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
						<input type="radio" th:id="${dict.dictCode}" name="status" th:value="${dict.dictValue}"
							th:field="*{status}">
						<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
					</div>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">
		var prefix = ctx + "minids/shop";

		$("#form-shop-edit").validate({
			onkeyup: false,
			rules: {
				categoryName: {
					remote: {
						url: prefix + "/checkShopNameUnique",
						type: "post",
						dataType: "json",
						data: {
							"shopId": function () {
								return $("#shopId").val();
							},
							"shopName": function () {
								return $.common.trim($("#shopName").val());
							}
						}
					}
				}
			},
			messages: {
				"shopName": {
					remote: "类别已经存在"
				}
			},
			focusCleanup: true
		});

		function submitHandler() {
			if ($.validate.form()) {
				$.operate.save(prefix + "/edit", $('#form-shop-edit').serialize());
			}
		}

	</script>
</body>

</html>