<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="include :: header('修改商品')" />
    <th:block th:include="include :: select2-css" />
</head>

<body>
    <div class="main-content">
        <form id="form-user-add" class="form-horizontal" th:object="${product}">
            <input name="categoryId" type="hidden" id="treeId" />
            <h4 class="form-header h4">基本信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label is-required">店铺：</label>
                        <div class="col-xs-4">
                            <select id="shopId" class="form-control is-required">
                                <option th:each="shop:${shops}" th:value="${shop.shopId}"
                                    th:selected="${product.storeId == shop.shopId}" th:text="${shop.shopName}"
                                    th:disabled="${shop.status == '1'}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">商品编号：</label>
                        <div class="col-sm-8">
                            <input name="spuId" placeholder="请输入商品编号" class="form-control" type="text" maxlength="30"
                                th:field="*{spuId}" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">商品名称：</label>
                        <div class="col-sm-8">
                            <input name="title" placeholder="请输入商品名称" class="form-control" type="text" maxlength="30"
                                th:field="*{title}" required>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">商品分类：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input name="categoryName" onclick="selectCategoryTree()" id="treeName" type="text"
                                    placeholder="请选择商品分类" class="form-control" th:field="*{categoryName}">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">商品图片：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input id="primaryImage" name="primaryImage" placeholder="请选择商品图片" class="form-control"
                                    th:field="*{primaryImage}" type="text" maxlength="11">
                                <span class="input-group-addon"><i class="fa fa-file-image-o"
                                        onclick="image()"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label ">商品状态：</label>
                        <div class="col-sm-8">
                            <label class="toggle-switch switch-solid">
                                <input type="checkbox" id="available"
                                    th:checked="${product.available == 1 ? true : false}">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <h4 class="form-header h4">其他信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">最低售价：</label>
                        <div class="col-xs-2">
                            <input id="minSalePrice" name="minSalePrice" placeholder="最低的售价" class="form-control"
                                th:field="*{minSalePrice}" type="text" maxlength="11">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">最高售价：</label>
                        <div class="col-xs-2">
                            <input id="minSalePrice" name="maxSalePrice" placeholder="最高的售价" class="form-control"
                                th:field="*{maxSalePrice}" type="text" maxlength="11">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">库存数量：</label>
                        <div class="col-xs-2">
                            <input id="spuStockQuantity" name="spuStockQuantity" placeholder="库存数量" class="form-control"
                                th:field="*{maxSalePrice}" type="text" maxlength="11">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">可售数量：</label>
                        <div class="col-xs-2">
                            <input id="soldNum" name="soldNum" placeholder="可销数量" class="form-control"
                                th:field="*{maxSalePrice}" type="text" maxlength="11">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">备注：</label>
                        <div class="col-xs-8">
                            <textarea name="remark" maxlength="500" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>


    </div>

    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保
                存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭
            </button>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: select2-js" />
    <script>
        var prefix = ctx + "production";



        $("#form-user-add").validate({
            onkeyup: false,
            rules: {
                loginName: {
                    minlength: 2,
                    maxlength: 20,
                    remote: {
                        url: prefix + "/checkLoginNameUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "loginName": function () {
                                return $.common.trim($("#loginName").val());
                            }
                        }
                    }
                },
                password: {
                    minlength: 5,
                    maxlength: 20
                },
                email: {
                    email: true,
                    remote: {
                        url: prefix + "/checkEmailUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "email": function () {
                                return $.common.trim($("#email").val());
                            }
                        }
                    }
                }
            },
            messages: {

                "phonenumber": {
                    remote: "手机号码已经存在"
                }
            },
            focusCleanup: true
        });

        /*管理-修改-选择树*/
        function selectCategoryTree() {
            var deptId = $("#treeId").val();
            var excludeId = $("input[name='categoryId']").val();
            if (deptId > 0) {
                var options = {
                    title: '选择',
                    width: "380",
                    url: prefix + "/selectCategoryTree/" + $("#treeId").val() + "/" + excludeId,
                    callBack: doSubmit
                };
                $.modal.openOptions(options);
            } else {
                $.modal.alertError("父类别不能选择");
            }
        }

        function submitHandler() {
            var chrtype = [[${ #strings.defaultString(@config.getKey('sys.account.chrtype'), 0) }]];
            var password = $("#password").val();
            if ($.validate.form() && checkpwd(chrtype, password)) {
                var data = $("#form-user-add").serializeArray();
                var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
                var roleIds = $.form.selectCheckeds("role");
                var postIds = $.form.selectSelects("post");
                data.push({ "name": "status", "value": status });
                data.push({ "name": "roleIds", "value": roleIds });
                data.push({ "name": "postIds", "value": postIds });
                $.operate.saveTab(prefix + "/add", data);
            }
        }

        /* 用户管理-新增-选择部门树 */
        function selectCategoryTree() {
            var treeId = $("#treeId").val();
            var categoryId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
            var url = ctx + "minids/production/category/selectCategoryTree/" + categoryId + "/0";
            var options = {
                title: '选择分类',
                width: "380",
                url: url,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero) {
            var body = $.modal.getChildFrame(index);
            $("#treeId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            $.modal.close(index);
        }

        $(function () {
            $('#post').select2({
                placeholder: "请选择岗位",
                allowClear: true
            });
        })

        function image() {
            var url = ctx + 'minids/production/image/0';
            top.layer.open({
                type: 2,
                area: [($(window).width() - 650) + 'px', $(window).height() + 'px'],
                fix: false,
                //不固定
                maxmin: true,
                shade: 0.3,
                title: "商品图片管理",
                content: url,
                btn: ['确定', '关闭'],
                // 弹层外区域关闭
                shadeClose: true,
                yes: function (index, layero) {
                    var iframeWin = layero.find('iframe')[0];
                    iframeWin.contentWindow.submitHandler(index, layero);
                    var result = iframeWin.contentWindow.submitHandlerResult;
                    console.log(result);
                },
                cancel: function (index) {
                    return true;
                }
            });
        }

        window.parent.document.addEventListener('modalClosed', function (e) {
            var result = e.detail; // e.detail 就是子窗体传递过来的 result
            $("#primaryImage").val(result.msg);
        });



    </script>
</body>

</html>