<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.minids.mapper.ProductionCategoryMapper">

	<resultMap type="Category" id="ProductionCategoryResult">
		<result property="productId"     column="product_id"      />
		<result property="categoryId"     column="category_id"      />
	</resultMap>

	<delete id="deleteProductionCategoryId" parameterType="Long">
		delete from minids_product_category where product_id=#{productId}
	</delete>
	
	<select id="selectCountProductionCategoryByCategoryId" resultType="Integer">
	    select count(1) from minids_product_category where category_id=#{categoryId}
	</select>
	
	<delete id="deleteProductionCategory" parameterType="Long">
 		delete from minids_product_category where product_id in
 		<foreach collection="array" item="productId" open="(" separator="," close=")">
 			#{categoryId}
        </foreach> 
 	</delete>
	
	<insert id="batchProductionCategory">
		insert into minids_product_category(product_id, category_id) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.productId},#{item.categoryId})
		</foreach>
	</insert>
	
</mapper> 